# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

env.json

# Composer
vendor/*
!vendor/.gitkeep

node_modules/
bower_components/
web/app/themes/nwww/dist/css/*
web/app/themes/nwww/dist/js/*

**/*.DS_Store
**/.DS_Store
*.DS_Store
.DS_Store

.idea/workspace.xml