<div class="promo__campaign  ">

    {% include 'thumb-link.twig' with { 'img': img, 'link': link } %}


    <div class="c__w promo__campaign__title">


        <h1 class="framed">
            <a href="{{ link }}">
                {{ title }}
            </a>

        </h1>


    </div>
    {% if signed %}
    <div class="promo__signed">
    {% include 'campaign-signed.twig' with { 'signed': signed } %}
    </div>
    {% endif %}
    <div class="dotscon"></div>

</div>
