.campaign__cats {
  position: sticky;
  top: 120px;
  div {
    h1 {
      margin: 0;
      padding: $padding;
    }
    color: white;
    a {
      color: inherit;
      display: block;
      padding: 1.3rem $padding;
      transition: all 200ms ease-in-out;
      &:hover {
        background-color: map-get($colors, b);
      }
      &.active {
        background-color: map-get($colors, b);
      }
    }
    padding-bottom: 20px;
  }
}

.promo__campaign {
  .thumb {
    overflow: hidden;
    img {
      transform: scale(1);
      transition: transform 300ms ease-in-out;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  p {
    margin-bottom: 2rem
  }
  p.text-right {
    margin-bottom: 0;
  }
}

.campaign__in__list {
  .promo__campaign {
    margin-bottom: $padding * 2;
    &__text {
      padding-left: 0;

    }
    .signed {
      margin-bottom: $padding;
    }
  }
}

.children__campaigns {
  padding: $padding;
}

.post__in__list {
  margin-bottom: 5rem;
}

.signed__outer {

  padding-bottom: 0;
}

.single-campaign {

  .signed__outer {

    padding-bottom: $padding;
  }
}

.signed {
  position: relative;
  background-color: white;
  height: 30px;
  background-image: repeating-linear-gradient(-45deg, #0049AA, #0049AA 2px, transparent 3px, transparent 4px, #0049AA 4px, #0049AA 8px);
  .perc {
    height: 100%;
    background-color: map-get($colors, b);
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    color: white;

    padding: 1rem 2rem;
  }
}
