.campaign__cats {

  h1 {
    margin: 0;
    padding: $padding;
  }

  a {
    color: inherit;
    display: block;
    padding: 1.3rem $padding;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: map-get($colors, y);

    }
    &.active {
      background-color: map-get($colors, y);

    }

  }

}

@media (min-width: $screen-md-min) {
  .campaign__cats {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.campaign__list {
  .promo__campaign {
    margin-bottom: $grid-gutter-width *2;
    .signed {
      margin-top: $padding;
    }
  }
}

.promo__campaign {
  .thumb {
    overflow: hidden;
    img {
      transform: scale(1);
      transition: transform 300ms ease-in-out;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  p {
    margin-bottom: 2rem
  }
  p.text-right {
    margin-bottom: 0;
  }
}

.campaign__in__list {
  .promo__campaign {
    margin-bottom: $padding * 2;
    &__text {
      padding-left: 0;

    }
    .signed {
      margin-top: $padding;
    }
  }
}

.post__in__list {
  margin-bottom: 5rem;
}

.signed__outer {

  padding-bottom: 0;
}

.single-campaign {

  .signed__outer {

    padding-bottom: $padding;
  }
}

.has__children {
  h2 {
    font-size: 3em
  }
}

.campaign__cat {
  padding: 5px 10px;
  padding-top: 8px;
  margin: 0;
  display: inline-block;
}

$blue: map_get($colors, g);
.signed {
  position: relative;
  background-color: white;
  height: 45px;
  background-image: repeating-linear-gradient(-45deg, $blue 0px, $blue 3px, transparent 3px, transparent 6px, $blue 6px, $blue 12px);

  //background-color: map-get($colors, b);
  .perc {
    height: 100%;
    background-color: map-get($colors, b);
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    color: white;
    margin: 0;
    padding-top: 4px;
    line-height: 45px;
    padding-left: 2rem;
  }
}

@media (min-width: $screen-md-min) {
  .campaign__cats {
    position: sticky;
    top: 30px;
    z-index: 888;
    background-color: white;
  }
}