
body {

  background: white;
}

.main__menu {
  font-family: map-get($fonts, din);
  text-transform: uppercase;
  ul {
    margin-right: 0;
  }
  & > ul > li > a {
    color: black;
    padding: 0 2rem;
    font-size: 2.3rem;
    line-height: 2.3rem;
    &:hover, &:focus {
      background-color: transparent;
      color: map-get($colors, r);
    }
  }
}

.header__logo {
  padding-bottom: 0;
  .logo {
    height: 100px;
    width: auto;
    cursor: pointer;
  }

}

.menu__toggle {

  cursor: pointer;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 999;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 0;
  padding-top: 6px;
  border-radius: 50%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  transition: all 300ms ease;
  cursor: pointer;
  display: block;
  background-color: black;
  color: white;
  &:focus {
    outline: none;

  }
  &:focus, &:hover {
    color: black;
    background-color: map_get($colors, y) !important;
  }
}

.home {
  .menu__toggle {
    color: black;
    background-color: white;
  }
}

.home.scrolled {
  .menu__toggle {
    background-color: black;
    color: white;
  }
}

.top__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  //max-width: 600px;
  transition: all 400ms ease;
  transform: translateY(-100%);
  z-index: 999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  pointer-events: none;

  &.open {
    pointer-events: auto;
    transform: translateY(0px);
    ul li {
      opacity: 1;

    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // background-color: black;
    min-height: 100%;
    pointer-events: none;
    li {
      pointer-events: auto;

      transition: all 200ms ease;

      padding: 0;
      margin: 0;
      a {
        cursor: pointer;
        display: block;

        padding: 3rem;
        font-size: 5rem;
        line-height: 1;
        color: inherit;
        transition: all 300ms ease;
      }
      &:nth-child(4n) a {
        background-color: map-get($colors, g);
        color: map-get($colors, b);
      }
      &:nth-child(4n+1) a {

        background-color: map-get($colors, r);
        color: map-get($colors, y);
      }
      &:nth-child(4n+2) a {
        background-color: map-get($colors, b);
        color: map-get($colors, w);

      }
      &:nth-child(4n+3) a {
        background-color: map-get($colors, y);
        color: black;
      }
      &:hover a {
        background-color: black;
        color: white;
      }
      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.10s;

        }
      }

    }

  }
}

@media (min-width: $screen-sm-min) {
  .navbar__right {
    margin-top: 0;
  }

  .logo {
    max-width: 200px;
    height: auto;
    overflow: visible !important;
    g {
      transition-property: all;
      transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
      transition-duration: 200ms;
      transform: translate(0, 0);
    }
    &:hover {
      g#ak {
        transform: translate(-5px, -5px);
      }
      g#kcja {
        transform: translate(5px, -5px);
      }
      g#demo {
        transform: translate(-5px, 5px);
      }
      g#kracja {
        transform: translate(5px, 5px);
      }
    }

  }

  .page__header * {
    transition: all 200ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
  }

}

@media (min-width: $screen-md-min) {
  body {
    // padding-top: 135px;
  }

  .page__header {

    .logo {
      height: 100px;
      width: auto;
    }

  }

}

@media (max-width: $screen-md-min) {
  .menu__toggle {
    transform: scale(.7);
    top: 10px;
    right: 10px;
  }

}