.intro__section {
  height: 100vh;
  background-color: black;
  overflow: hidden;

  position: relative;
  .pointer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    z-index: 888;
    right: 0;
    text-align: center;
    svg {
      margin: 0 auto;
      cursor: pointer;

    }
  }
  img, #intrologo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
  }

  #intrologo {
    z-index: 99;
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
  h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 32;
    margin: 2*$padding;

    max-width: 400px;

    span {
      display: inline-block;
      padding: 15px;
      line-height: 3rem;
      font-size: 2.5rem;
      //  white-space: pre-wrap;
    }
  }

}

@media (max-width: $screen-sm-min) {
  .intro__section {
    img {
      height: 100%;
      width: auto;
      max-width: 999px;
    }
  }

}