
.last__actions {

  h3 {
    margin-bottom: 3rem;
    &:before {
      content: ' ';
      background-color: map-get($colors, r);
      width: 100px;
      height: 10px;
      display: block;
      margin-bottom: 3rem;
    }
  }

}

.last__actions__actions {
  height: 150px;
  position: relative;
  overflow: hidden;
  opacity: 0;

  &.loaded {
    opacity: 1;

  }
  .last__actions__action {
    padding: 10px 0;
    time {
      font-size: .9em;

      margin: 0;
      margin-top: 2rem;
      display: block;
    }

  }
  .swiper-slide-prev {
    opacity: 0;
    transform: translateY(-30px);

  }

  .swiper-slide {
    opacity: 0;
    transition: all 1s ease;

  }
  .swiper-slide-active {
    transform: translateY(0px);
    opacity: 1;
  }
  .swiper-slide-next {
    opacity: 0;
    transform: translateY(40px);

  }

}

.last__actions {
  max-width: 450px;
}
