.posts__loop {
  h1 {
    margin-top: 0;
    a {
      color: inherit;
    }
  }

  article {
    margin-bottom: $padding;
  }
}

.single-post {
  .posts__loop {
    p {
      max-width: 800px;
      text-align: justify;
    }
  }
}

.about__page {
  p {
    text-align: justify;
  }
}

.promo__campaign {
  h1 {
    margin-top: 0;

  }
  &__text {
    padding: $padding;
  }

}

.form__row {
  padding: 0 40px;
  input {
    margin-bottom: $padding;
  }
}

.sign__in {
  .btn {
    width: 100px;
  }
}