.posts__loop {
  h1 {
    margin-top: 0;
    a {
      color: inherit;
    }
  }

  article {
    margin-bottom: $padding;
  }
}

.single-post {
  .posts__loop {
    p {
      max-width: 800px;
      text-align: justify;
    }
  }
}

.about__page {
  p {
    text-align: justify;
  }
}

.promo__campaign {
  h1 {
    margin-top: 0;

  }
  &__text {
    padding: $padding;
  }

}

.form__row {
  padding: 0 40px;
  input {
    margin-bottom: $padding;
  }
}

.sign__in {
  .btn {
    width: 100%;
  }
  input {
    border: 10px map_get($colors, b);
  }
  .btn, input {

    height: 54px;

  }

}

.page__cats {
  color: white;
  h1 {
    margin: 0;
    padding: $padding;
  }

  a {
    color: inherit;
    display: block;
    padding: 1.3rem $padding;
    transition: all 200ms ease-in-out;
    color: white;
    &:hover {
      background-color: map-get($colors, b);
      color: inherit;
    }
    &.active {
      background-color: map-get($colors, b);
      color: inherit;
    }

  }

}