.posts__loop {
  time {
    margin-right: 1rem;
  }
}

.post__header {
  position: relative;
  .post__cats {
    position: absolute;
    top: 0;
    left: 0;
    //  margin: $grid-gutter-width/2;
    a {
      padding: 5px 10px;
      padding-top: 8px;
      margin: 0;
      display: inline-block;
      transition: all 200ms ease;
      &:hover {
        background-color: black;
        color: white;
      }
    }

  }
}

.last__actions__inner {
  margin-top: $padding;
  padding: $padding;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}