.posts__loop {
  time {
    margin-right: 1rem;
  }
}

.section__posts {
  h1 {
    margin-bottom: $grid-gutter-width;
  }

  a {
    color: inherit;
  }
  #load-more {
    border: 0;
    background: transparent;
    margin-top: 25px;
    margin-bottom: 12.5px;
    font-size: 46px;
    font-family: map-get($fonts, din);
    font-weight: normal;
    line-height: 1.1;
    color: inherit;
    float: left;
    clear: both;
    &:before {
      content: ' ';
      background-color: map-get($colors, r);
      width: 100px;
      height: 10px;
      display: block;
      margin-bottom: 3rem;
    }
  }
}

.posts__navigation {
  ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

.post__cats {
  display: inline-block;
  a {
    padding: 5px 10px;
    padding-top: 8px;
    margin: 0;
    display: inline-block;
    transition: all 200ms ease;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}

.post__header {
  position: relative;
  .post__cats {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    //  margin: $grid-gutter-width/2;

  }
}

.last__actions__inner {
  margin-top: $padding;
  padding: $padding;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
