.btn {
  font-family: $font-family-sans-serif;
  @include button-size(12px, 20px, 23px, $line-height-base, $btn-border-radius-base);
  padding-bottom: 8px;
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}

.btn-sm {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}


.label {
  padding: 11px 8px 3px
}


.btn-default {
  border-width: 4px;
  padding: 6px 16px 6px 16px;
}
